<ul *ngIf="pager" class="pagination">
  <li [class.disabled]="pager.currentPage == 1">
    <a (click)="setCurrentpage(1)">First</a>
  </li>
  <li [class.disabled]="pager.currentPage == 1">
    <a (click)="setCurrentpage(pager.currentPage - 1)">Previous</a>
  </li>
  <li *ngFor="let page of pager.pages" [class.active]="pager.currentPage == page">
    <a (click)="setCurrentpage(page)">{{page}}</a>
  </li>
  <li [class.disabled]="pager.currentPage == pager.totalPages">
    <a (click)="setCurrentpage(pager.currentPage + 1)">Next</a>
  </li>
  <li [class.disabled]="pager.currentPage == pager.totalPages">
    <a (click)="setCurrentpage(pager.totalPages)">Last</a>
  </li>
</ul>